<div class="wrapper-tipo-doacao wrapper-tipo-solicitacao">
    <div class="header">
        <h2 class="title">Solicite uma doação</h2>
        <h5 class="subtitle">Qual tipo de doação você precisa?</h5>
    </div>
    <div class="row opcoes-doacao opcoes-solicitacao">
        <div class="col-sm-6">
            <a class="opcao-doacao opcao-solicitacao opcao-cesta" asp-controller="SolicitacoesDoacao" asp-action="CriarSolicitacao" asp-route-isCestaCompleta="true">
                <i class="bi bi-box2-heart-fill"></i>
                Cestas básicas completas
            </a>
        </div>
        <div class="col-sm-6">
            <a class="opcao-doacao opcao-solicitacao opcao-itens" asp-controller="SolicitacoesDoacao" asp-action="CriarSolicitacao" asp-route-isCestaCompleta="false">
                <i class="bi bi-heart-fill"></i>
                Itens não perecíveis
            </a>
        </div>
    </div>
</div>
