@model app.Models.UsuarioDoadorPf

@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="row justify-content-center">
    <div class="wrapper-user wrapper-cadastro-user col-lg-8 col-xl-7">
        <div class="header-user header-cadastro-user">
            <h1 class="titulo-cadastro-user">
                Cadastro de Pessoa Física
            </h1>
            <h4 class="descricao-cadastro-user">
                Doe alimentos não perecíveis e cestas básicas como pessoa física
            </h4>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <h5>Ambiente de Teste - Não insira dados reais!</h5>
            Este é um ambiente de demonstração. Os dados são temporários (serão apagados ao reiniciar) e não possuem a segurança de um sistema real. Por favor, NÃO insira informações sensíveis ou pessoais verdadeiras.
            Você pode fazer o <a asp-controller="Usuarios" asp-action="Login" class="alert-link">login</a> com uma conta de Doador Pessoa Física já cadastrada para teste, se preferir.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div class="container-form-user container-form-cadastro-user align-items-center">
            <form asp-action="CreateDoadorPf" class="form-user form-cadastro-user row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group col-12">
                    <label asp-for="Nome" class="control-label default-label">Nome completo</label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Cpf" class="control-label default-label">CPF</label>
                    <input asp-for="Cpf" class="form-control" placeholder="Digite apenas números" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="DataNascimento" class="control-label default-label">Data de nascimento</label>
                    <input type="date" asp-for="DataNascimento" class="form-control" />
                    <span asp-validation-for="DataNascimento" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Telefone" class="control-label default-label">Telefone</label>
                    <input asp-for="Telefone" class="form-control" placeholder="Digite apenas números" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>

				<partial name="_FormUsuarioPartial" model="@Model" />
                
                <div class="form-group col-12">
                    <input type="submit" value="Concluir cadastro" class="btn btn-primary-app concluir-cadastro-user" />
                </div>
            </form>
            <div class="opcao-fazer-login">
                Já tem uma conta? 
                <a asp-controller="Usuarios" asp-action="Login" class="link-app">Fazer login</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
