@using app.ViewModels
@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h5>Ambiente de Teste - Não insira dados reais!</h5>
    Este é um ambiente de demonstração e não possui a segurança de um sistema real, <b>NÃO</b> insira informações sensíveis ou pessoais verdadeiras.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-info alert-dismissible fade show mb-5" role="alert">
    <h5>Usuários de teste</h5>
    <div>Se preferir, você pode realizar o login com um de nossos usuários fictícios cadastrados para teste. Você não poderá editar ou excluir os dados do usuário, mas terá acesso a todas as outras funcionalidades da aplicação.</div>
    <div><strong>Doador Pessoa Física: </strong>E-mail: doadorpf@demo.com | Senha: senha123</div>
    <div><strong>Doador Pessoa Jurídica: </strong>E-mail: doadorpj@demo.com | Senha: senha123</div>
    <div><strong>ONG: </strong>E-mail: ong@demo.com | Senha: senha123</div>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="row justify-content-center">
    <div class="wrapper-login col-md-8 col-lg-6 col-xl-5">
        @if (TempData["Sucesso"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["Sucesso"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="container-form-login align-items-center">
            <h1 class="header-login">Acesse sua conta</h1>
            @if (TempData["Erro"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    @TempData["Erro"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <form asp-action="Login" class="form-login row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-floating">
                    <input asp-for="Email" class="form-control" placeholder="E-mail"/>
                    <label asp-for="Email" class="control-label">E-mail</label>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group form-floating">
                    <input asp-for="Senha" class="form-control" placeholder="Senha" />
                    <label asp-for="Senha" class="control-label">Senha</label>
                    <span asp-validation-for="Senha" class="text-danger"></span>
                    <div class="esqueci-senha">
                        <a href="#" class="link-app">Esqueci minha senha</a>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Fazer login" class="btn btn-primary-app" id="btnFazerLogin" />
                </div>
            </form>

            <div class="opcao-fazer-cadastro">
                Ainda não tem uma conta?
                <a asp-controller="Home" asp-action="Index" data-bs-toggle="modal" data-bs-target="#modalCadastro" class="link-app">Cadastre-se</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
