@model app.Models.UsuarioDoadorPj

@{
    ViewData["Title"] = "Minha conta";
}

<div class="row justify-content-center">
    <div class="wrapper-user wrapper-details-user col-lg-8 col-xl-7">
        <h1 class="page-title header-user header-details-user">
            Minha conta
        </h1>

        @if (Model.Id < 4)
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                Você está usando uma conta com permissões limitadas para fins de demonstração e não poderá editar ou excluir o usuário.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <div class="container-form-user container-form-details-user align-items-center">
            <form class="form-user form-details-user row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group col-12">
                    <label asp-for="Nome" class="control-label default-label">Nome da empresa</label>
                    <input asp-for="Nome" class="form-control" disabled readonly />
                </div>
                <div class="form-group col-12">
                    <label asp-for="RazaoSocial" class="control-label default-label">Razão Social</label>
                    <input asp-for="RazaoSocial" class="form-control" disabled readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Cnpj" class="control-label default-label">CNPJ</label>
                    <input asp-for="Cnpj" value="@string.Format("{0:00\\.000\\.000\\/0000\\-00}", long.Parse(Model.Cnpj))" class="form-control" disabled readonly />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Telefone" class="control-label default-label">Telefone comercial</label>
                    <input asp-for="Telefone" value="@string.Format("{0:(00\\) 00000\\-0000}", long.Parse(Model.Telefone))" class="form-control" disabled readonly />
                </div>

                <partial name="_DetailsUsuarioPartial" model="@Model" />
                
                @if (Model.Id < 4)
                {
                    <div class="form-group grupo-btn col-12">
                            <a asp-action="Edit" class="btn btn-primary-app disabled">Editar dados</a>
                            <a asp-action="Delete" class="btn btn-secondary-app disabled">Excluir conta</a>
                    </div>
                }
                else
                {
                    <div class="form-group grupo-btn col-12">
                        <a asp-action="Edit" class="btn btn-primary-app">Editar dados</a>
                        <a asp-action="Delete" class="btn btn-secondary-app">Excluir conta</a>
                    </div>
                }
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}